@import "mocha.css";

* {
  border: none;
  border-radius: 0.5rem;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: transparent;
  color: @text;
  font-family:
    Inter,
    JetBrainsMono Nerd Font,
    IosevkaTerm Nerd Font,
    Iosevka Aile,
    Cantarell,
    Noto Sans,
    sans-serif;
  font-size: 13px;
}

window#waybar.solo #waybar {
  background: red;
}

.modules-left,
.modules-right {
  background: @base;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0 0 4px 0;
}

.modules-right:last-child {
  margin-right: 1rem;
}

.modules-left:first-child {
  margin-left: 1rem;
}

/* Each module */
#backlight,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#power-profiles-daemon,
#pulseaudio,
#submap,
#temperature,
#tray {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  color: @rosewater;
}

#battery.warning {
  color: @crust;
  background: @peach;
}

#battery.critical {
  color: @crust;
  background: @red;
}

#battery {
  color: @mauve;
}

#battery:hover {
  background: @surface0;
}

#battery.warning:hover {
  background: shade(@peach, 1.1);
}

#battery.critical:hover {
  background: shade(@red, 1.1);
}

#cpu {
  color: @teal;
}

#cpu.warning {
  color: @peach;
}

#cpu.critical {
  color: @red;
}

#backlight {
  color: @yellow;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: @peach;
}

#memory.critical {
  color: @red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode,
#submap {
  color: @crust;
  background: @red;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

#network {
  color: @green;
}

#network.disabled {
  color: @subtext0;
}

#network.disconnected {
  color: @red;
}

#network:hover {
  background: @surface0;
}

#pulseaudio.muted {
  color: @red;
}

#pulseaudio:hover {
  background: @surface0;
}

#window {
  background: @base;
  padding: 0 0.5rem 0 0.5rem;
}

window#waybar.empty #window {
  background: transparent;
}

#workspaces button {
  padding: 2px 0.5rem 2px 0.5rem;
  color: @subtext0;
  background: transparent;
}

#workspaces button:hover {
  color: @text;
  background: @surface0;
}

#workspaces button.focused,
#workspaces button.active {
  border-color: @lavender;
  color: @crust;
  background: @lavender;
}

#workspaces button.focused:hover,
#workspaces button.active:hover {
  border-color: @lavender;
}

#workspaces button.urgent {
  border-color: @red;
  color: @red;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.balanced {
  color: @rosewater;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#power-profiles-daemon:hover {
  background: @surface0;
}
